.table {
  margin: 20px auto;

  max-width: 800px;
  width: 100%;
  table-layout: fixed;

  border-collapse: collapse;
  background-color: $bg-color-light;
  border: 5px solid $secondary-color;
  box-shadow: 0px 2px 5px $shadow-color;

  &__caption {
    margin-bottom: 20px;

    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;
  }

  &__label {
    text-align: center;
    font-weight: 500;
  }

  &__row {
    background: $bg-color-dark;

    &:nth-child(even) {
      background-color: $bg-color-light;
    }

    &--head {
      background-color: $accent-color;
      color: $primary-color;
    }

    &--toggle {
      .table__cell--data {
        padding: 10px;
        background-color: $bg-color-blue;
      }
    }

    &--prices {
      .table__cell--data {
        font-weight: 500;
        color: $button-bg-color;
      }
    }
  }

  &__cell {
    padding: 10px;
    text-align: center;

    border: 1px solid #ccc;

    &--header {
      font-weight: 600;
      background-color: $accent-color-light;
      color: $primary-color;
    }

    &--plan {
      font-weight: 600;
      text-transform: uppercase;
    }

    &--data {
      text-align: center;

      &--checkmark {
        color: green;
      }

      &--cross {
        color: red;
      }
    }

    @media screen and (max-width: 768px) {
      padding: 5px;
      font-size: 14px;
    }
  }

  &__label {
    position: relative;
    bottom: 4px;
    margin-right: 5px;
  }

  &__radio {
    margin-right: 20px;
  }
  &__button {
    @include button-styles;
  }
}
// Define a media query for screens with a maximum width of 768px (adjust as needed)
@media screen and (max-width: 450px) {
  .table__cell--desktop {
    display: none;
  }
}
