$primary-color: #fff;
$secondary-color: #333;
$accent-color: #104a88;
$accent-color-light: #3e76b2;
$button-bg-color: #cb921f;
$button-hover-color: #9a6d13;
$bg-color-light: #fcf9f9;
$bg-color-dark: #e7e4e4;
$bg-color-blue: #b0bee0;
$shadow-color: rgba(0, 0, 0, 0.1);
